@model List<Aluno>;

<div class="container">
	<div class="row mt-5 mb-3">
		<div class="col">
			<h1>#1 Turma</h1>

			<form class="row g-3">
				<div class="col">
					<label for="inputPassword2" class="visually-hidden">Tasks</label>
					<input type="text" class="form-control" id="inputPassword2" placeholder="Digite o nome do aluno...">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary mb-3">🔍</button>
				</div>
			</form>

		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nome</th>
						<th scope="col">Sobrenome</th>
						<th scope="col">Status</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var aluno in Model)
					{
						@{
							if (aluno.Status == "Aprovado")
							{
								<tr class="table-light">
									<th scope="row">@aluno.Id</th>
									<td>@aluno.Nome</td>
									<td>@aluno.Sobrenome</td>
									<td>@aluno.Status</td>
								</tr>
							}
							else if (aluno.Status == "Reprovado")
							{
								<tr class="table-danger">
									<th scope="row">@aluno.Id</th>
									<td>@aluno.Nome</td>
									<td>@aluno.Sobrenome</td>
									<td>@aluno.Status</td>
								</tr>
							}
							else
							{
								<tr class="table-warning">
									<th scope="row">@aluno.Id</th>
									<td>@aluno.Nome</td>
									<td>@aluno.Sobrenome</td>
									<td>@aluno.Status</td>
								</tr>
							}
						}
						</tbody>
						</table>
						</div>
						</div>
						</div>

